.oculto {
    display: none;
}

.max-auto {
  margin-left: auto;
  margin-right: auto;
}

.border-red-500	{
  border-color: rgb(239 68 68) !important;
}

.border-green-500	{
  border-color: rgb(34 197 94) !important;
}

.bg-red-50 {
  background-color: rgb(254 242 242) !important;
}

.hover\:scale-150:hover {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.focus\:borda-vermelha:focus {
  --tw-ring-color: red !important;
}